<div class='text-center cs-loader'>
  {{#if showText}}
    <div class='loader-text text-muted'>
      &nbsp;&nbsp;searching...
    </div>
  {{/if}}
  <div class='cs-loader-inner'>
    <label> ●</label>
    <label> ●</label>
    <label> ●</label>
    <label> ●</label>
    <label> ●</label>
    <label> ●</label>
  </div>
</div>
