
#info {
  // current search
  .pull-left {
    font-size: 13px;
    padding-top: 5px;
  }
  // number of results: 
  .pull-right {
    padding-bottom: 5px;
  }

  .col-md-12 {
    border-bottom: 1px dotted gray;
  }

  padding-bottom: 30px;
}

#filter {
  .current-view {
    .title {
      margin-top: 15px;
    }
    .item {
      margin-top: 5px;
      button {
        min-width: 100px;
      }
    }
  }
}

.search-clear-btn {
  right: 0;
  position: inherit;
  padding-left: 0.5em;
}

// search tag
.tag {
  list-style: none;
  display: inline-block;
  margin: 0 .3em .3em 0;
  max-width: auto;
  height: 28px;
  line-height: 28px;
  padding: 0 1em;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 13px;
}
