
#info {
  // current search
  .pull-left {
    font-size: 13px;
    padding-top: 5px;
  }
  // number of results: 
  .pull-right {
    padding-bottom: 5px;
  }

  .col-md-12 {
    border-bottom: 1px dotted gray;
  }

  padding-bottom: 30px;
}

#filter {
  .current-view {
    .title {
      margin-top: 15px;
    }
    .item {
      margin-top: 5px;
      button {
        min-width: 100px;
      }
    }
  }
}

// search tag
.tag {
  list-style: none;
  display: inline-block;
  margin: 0 .3em .3em 0;
  max-width: auto;
  height: 28px;
  line-height: 28px;
  padding: 0 1em;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 13px;
}

.badge {
  background-color: white;
  height: 15px;
  line-height: 0.75;
  color: black;
  margin-bottom: 5px;
  border: 1px solid gray;
  border-radius: 2px;
  font-size: 10px;
}

.ember-power-select-selected-item {
  position: absolute;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.paginationButton {
  margin-bottom: 40px;
  background-color: white !important;
  color: gray !important;
  background-image: none;
  border: 1px solid lightgray !important;
  &:hover {
    background-color: rgba(lightblue, 0.01) !important;
    color: white !important;
  }
}