
.badge {
  background-color: white;
  height: 15px;
  line-height: 0.75;
  color: black;
  margin-bottom: 5px;
  border: 1px solid gray;
  border-radius: 2px;
  font-size: 10px;
}

.ember-power-select-selected-item {
  position: absolute;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
