<div class='row'>
  <div class='col-xs-12'>
    <h5>{{properties.filterTitle}}</h5>
    {{#power-select
      allowClear=true
      dropdownClass='slide-fade'
      options=results
      searchField='id'
      placeholder=placeholder
      disabled=noResults
      loadingMessage='loading...'
      optionsComponent='data-filter.filter-dropdown'
      selected=(find-by 'id' properties.selectedValue promiseResults)
      onchange=(action chooseItem)
      as |result|
    }}
      {{#if result.id}}
        {{format-item result.id properties.itemFormat}} <span class='badge'>{{format-item result.attributes.value 'cleanNum'}}</span>
      {{/if}}
    {{/power-select}}
  </div>
</div>
