
// bring power-select menus to front of modals
.ember-basic-dropdown-content {
  z-index: 10000
}


// from http://www.ember-power-select.com/cookbook/css-animations
@keyframes drop-fade-below {
  0%   {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(3px);
  }
}
@keyframes drop-fade-above {
  0%   {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(-3px);
  }
}

.slide-fade {

  // When opening below the trigger
  &.ember-basic-dropdown--below.ember-basic-dropdown--transitioning-in {
    animation: drop-fade-below .15s;
  }
  &.ember-basic-dropdown--below.ember-basic-dropdown--transitioning-out {
    animation: drop-fade-below .15s reverse;
  }

  // When opening above the trigger
  &.ember-basic-dropdown--above.ember-basic-dropdown--transitioning-in {
    animation: drop-fade-above .15s;
  }
  &.ember-basic-dropdown--above.ember-basic-dropdown--transitioning-out {
    animation: drop-fade-above .15s reverse;
  }
}

// to customize ember-tooltips
.custom-popover {
  color: #fff;
  letter-spacing: 1px;
  font-size: 12px;
  font-style: normal;
  text-decoration: none;
  text-shadow: none;
}


.error-pane {
  margin: 25px auto;
  background-color: rgba(255, 176, 176, 0.33);
}

.error-message {
  text-align: center;
  color: #e22626;
  line-height: 100px;
}


// Loading notice styles
// ------------------------------------------

.loading-notice {
  position: fixed;
  overflow: hidden;
  background: $body-bg;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  margin: 0 auto;
  width: calc(100% - 275px);
  height: 100%;
  text-align: center;

  .wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-70%);
    margin: 0 auto;
    border-radius: 1px;
    border: 1px solid darken($gray-lighter, 15%);
    -moz-box-shadow:    inset 0 0 10px darken($gray-lighter, 10%);
    -webkit-box-shadow: inset 0 0 10px darken($gray-lighter, 10%);
    box-shadow:         inset 0 0 10px darken($gray-lighter, 10%);
    background-color: $gray-lighter;
    padding: 20px;
    width: 250px;
  }

  &.apploading {
    left: 0;
    width: 100%;
  }

  .loading-text {
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $gray;
    font-weight: 300;
  }

  // adapted from @tobiasahlin's spinkit: http://tobiasahlin.com/spinkit/
  .spinner {
    margin: 0 auto 10px;
    width: 150px;
    height: 60px;
    text-align: center;
    font-size: 10px;

    > div {
      display: inline-block;
      -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
      animation: stretchdelay 1.2s infinite ease-in-out;
      margin-left: 3px;
      background-color: $brand;
      width: 6px;
      height: 100%;

      &:first-child { margin-left: 0; }
    }

    .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

    .rect3 {
      -webkit-animation-delay: -1s;
      animation-delay: -1s;
    }

    .rect4 {
      -webkit-animation-delay: -.9s;
      animation-delay: -.9s;
    }

    .rect5 {
      -webkit-animation-delay: -.8s;
      animation-delay: -.8s;
    }
  }
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(.4); }
  20% { -webkit-transform: scaleY(1); }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(.4);
    transform: scaleY(.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
