
// bring power-select menus to front of modals
.ember-basic-dropdown-content {
  z-index: 10000
}


// from http://www.ember-power-select.com/cookbook/css-animations
@keyframes drop-fade-below {
  0%   {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(3px);
  }
}
@keyframes drop-fade-above {
  0%   {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(-3px);
  }
}

.slide-fade {

  // When opening below the trigger
  &.ember-basic-dropdown--below.ember-basic-dropdown--transitioning-in {
    animation: drop-fade-below .15s;
  }
  &.ember-basic-dropdown--below.ember-basic-dropdown--transitioning-out {
    animation: drop-fade-below .15s reverse;
  }

  // When opening above the trigger
  &.ember-basic-dropdown--above.ember-basic-dropdown--transitioning-in {
    animation: drop-fade-above .15s;
  }
  &.ember-basic-dropdown--above.ember-basic-dropdown--transitioning-out {
    animation: drop-fade-above .15s reverse;
  }
}

// to customize ember-tooltips
.custom-popover {
  color: #fff;
  letter-spacing: 1px;
  font-size: 12px;
  font-style: normal;
  text-decoration: none;
  text-shadow: none;
}


.error-pane {
  margin: 25px auto;
  background-color: rgba(255, 176, 176, 0.33);
}

.error-message {
  text-align: center;
  color: #e22626;
  line-height: 100px;
}