<div class='text-center'>
  <div class='data-stat-val'>
    {{#if statVal}}
      {{format-item statVal resultFormat}}
    {{else}}
      -
    {{/if}}
  </div>
  <div class='data-stat-desc'>
    {{descriptor}}
  </div>
</div>