th, td {
  padding: 0 5px 0 5px;
}

.modalTitle {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.1;
  font-variant: small-caps;
}

.modalSectionTitle {
  font-size: 15px;
  font-weight: bold;
  font-variant: small-caps;
}

.modalSubSectionTitle {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.modalSubSection {
  margin-bottom: 15px;
}

ul.noIndent {
    margin-left: 5px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 0px;
}
.modal-dialog {
  width: 600px;
}
.well {
  padding-top: 10px;
}
.lrgWell {
  min-height: 400px;
}
