.loading-slider {
  height: 2px;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;

  span {
    box-shadow: 3px 1px 3px $gray-lighter;
    height: 2px;
    position: inherit;
  }
}
