{{! index }}
<div class="jumbotron">
  <div class='text-center'>
    <h4>Explore NIH scientific spending trends</h4>
  </div>
  {{#bs-form action=(route-action 'search') submitOnEnter=true}}
    {{bs-form-element
      controlType='text'
      placeholder='Search for anything in NIH grants data'
      value=searchVar}}
  {{/bs-form}}
</div>
