
{{#bs-modal open=isShowingModal size='lg' header=false ody=false footer=false}}
	{{#bs-modal-header}}
		Collection Details: {{collectionData.name}}
	{{/bs-modal-header}}
	{{#bs-modal-body}}
		<div class="container-fluid">
			<div class="modalSectionTitle"><i class="fa fa-info"></i>Workflow</div>
				<div class="well well-sm">
					<div class="row row-meta">
							{{#each asdfKeys as |a|}}
								<div class="col-md-8 col-sm-8 col-xs-8">
									<small><strong>{{a}}</strong>: {{get clxnFiltersUsed a}}</small>
								</div>
							{{/each}}

						<!-- <div class="col-md-4">
							<aside><small><strong>Grant Count:</strong></small></aside>
							<aside><small><strong>Sum Cost:</strong></small></aside>
							<aside><small><strong>Average Cost:</strong></small></aside>
						</div> -->
					</div>
				</div>

			<!-- <div class="modalSectionTitle">Statistics</div>
				<div class="well well-sm">
					<div class="modalSubSectionTitle">Largest Grants</div>
						<div class="col-md-4">
							<ol>
								<li></li>
								<li></li>
								<li></li>
							</ol>
						</div>
						<div class="col-md-4">
							<div class="modalSubSectionTitle">Largest Grants</div>
							<div class="col-md-4">
								<ol>
									<li>largest grant</li>
									<li>2nd largest</li>
									<li>3rd largest</li>
								</ol>
							</div>
						</div>
				</div> -->
			<div class="modalSectionTitle"><i class="fa fa-pie-chart"></i>Context</div>
			<div class="well well-sm">
				<p>
				data viz here
				</p>
			</div>
			<div class='modalSectionTitle'><i class="fa fa-sticky-note-o"></i>Notes</div>
			<div class="well well-lg">
				<div class="notes-textarea">
					{{#bs-form}}
					  {{bs-form-element
						controlType='text'
						placeholder=notesPlaceholder
						label='Notes'
						invisibleLabel=true
						value=notes
						autofocus=true
						required=true
						action=(action 'saveNote' notes)
					  }}
					{{/bs-form}}
				</div>

				{{#bs-button
					type='primary'
					size='sm'
					disabled=(not notes)
					action=(action 'saveNote' notes)
					}}
					Save to Collection
					{{/bs-button}}
			</div>
		</div>
	{{/bs-modal-body}}
{{/bs-modal}}
